<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">

    <insert id="insertBatch">
        INSERT INTO shopping_cart (name, user_id, dish_id, setmeal_id, dish_flavor, number, amount, image, create_time)
        VALUES
        <foreach collection="shoppingCartList" item="item" separator=",">
            (#{item.name},#{item.userId},#{item.dishId},#{item.setmealId},#{item.dishFlavor},#{item.number},#{item.amount},#{item.image},#{item.createTime})
        </foreach>
    </insert>
</mapper>